.bp-tileSlider {
  padding-top: 20px;
  position: relative;

  @media (min-width: 768px) {
    padding-top: 0;
    padding-bottom: 20px;
  }

  &_header {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;

    @media (min-width: 768px) {
      margin-bottom: 24px;
      flex-direction: row;
      align-items: center;
    }
  }

  &_link {
    color: black;
    font-size: .875rem;
    font-weight: 700;
    align-self: flex-start;
    background-image: linear-gradient(120deg, var(--primary-color) 0%, var(--primary-color) 100%);
    background-repeat: no-repeat;
    background-size: 100% .1875rem;
    background-position: 0 100%;

    @media (min-width: 768px) {
      font-size: 1.125rem;
      margin-left: 24px;
      margin-bottom: 8px;
      align-self: center;
    }

    &:hover,
    &:focus {
      background-image: linear-gradient(120deg, black 0%, black 100%);
    }
  }

  .swiper-scrollbar {
    background-color: transparent;
  }

  .swiper-scrollbar-drag {
    background-color: rgba(0, 0, 0, .2);
  }

  .swiper-container-horizontal>.swiper-scrollbar {
    width: 100%;
    height: 5px;

    @media (min-width: 768px) {
      height: 10px;
    }
  }
}
