.bp-social {
  @media (min-width: 768px) {
    align-self: center;
  }

  ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;

    li {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  svg {
    width: 32px;
    height: 32px;
    fill: black;
    transition: all .3s;
  }

  a:hover svg {
    fill: var(--primary-color, #ff5c85);
  }
}
