@keyframes splash {
  40% {
    background: #FF5C85;
    box-shadow:
      0 -18px 0 -8px #FF5C85,
      16px -8px 0 -8px #FF5C85,
      16px 8px 0 -8px #FF5C85,
      0 18px 0 -8px #FF5C85,
      -16px 8px 0 -8px #FF5C85,
      -16px -8px 0 -8px #FF5C85;
  }


  100% {
    background: #FF5C85;
    box-shadow:
      0 -36px 0 -10px transparent,
      32px -16px 0 -10px transparent,
      32px 16px 0 -10px transparent,
      0 36px 0 -10px transparent,
      -32px 16px 0 -10px transparent,
      -32px -16px 0 -10px transparent;
  }
}

.bp-form {
  &_fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    margin-bottom: 16px;
  }

  &_field {
    margin-bottom: 16px;
    position: relative;
    display: flex;

    &-text {
      label {
        background-color: white;
        color: #999;
        display: block;
        font-weight: 400;
        font-size: 1.125rem;
        position: absolute;
        bottom: 14px;
        left: 10px;
        padding-left: 6px;
        padding-right: 6px;
        transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1),
          opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: color, bottom, transform;
        transform-origin: bottom left;
      }

      input {
        width: 100%;
        padding: 16px;
        display: flex;
        font-size: 1.125rem;
        color: black;
        border-radius: 4px;
        border-width: 1px;
        border-style: solid;
        background-color: white;
        appearance: none;

        &:focus {
          outline: #8c96a9 auto 1px;

          &+label {
            color: var(--primary-color);
            transform: scale(.85) translateY(-33px);
          }
        }
      }
    }

    &-checkbox {
      input {
        appearance: none;
        cursor: pointer;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
        border: 2px solid #bfbfc0;
        border-radius: 50%;

        &:focus {
          outline: 0;
        }

        &:checked+span {
          animation: splash 0.6s ease forwards;
        }

        &:checked+span+label+svg path {
          stroke-dashoffset: 0;
        }
      }

      label {
        padding-left: 35px;
      }

      span {
        width: 24px;
        height: 24px;
        background: none;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        filter: url("#goo");
        transform: translate3d(0, 0, 0);
        pointer-events: none;
      }

      svg {
        position: absolute;
        top: 5px;
        left: 4px;
        z-index: 1;
        pointer-events: none;

        path {
          stroke: #fff;
          stroke-width: 3;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-dasharray: 19;
          stroke-dashoffset: 19;
          transition: stroke-dashoffset 0.3s ease;
          transition-delay: 0.2s;
        }
      }
    }
  }

  .is-valid {
    input+label {
      transform: scale(.85) translateY(-33px);
    }
  }

  .is-error {
    input {
      outline: red auto 1px;
    }

    input:focus {
      outline: red auto 1px;

      &+label {
        color: red;
      }
    }
  }

}
