.bp-readNext {
  margin: 30px 0;

  &_title {
    position: relative;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.1;
    margin: 0;

    @media (min-width: 991px) {
      font-size: 1.125rem;
    }

    &::before {
      content: "";
      height: 10px;
      width: 80px;
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: -.625rem;
      background: var(--secondary-color, #b8f0c0);
    }
  }

  &_content {
    margin-top: 16px;
    position: relative;

    &::before {
      content: "";
      background: var(--secondary-color);
      position: absolute;
      height: 100%;
      right: 0;
      top: 0;
      width: 100vw;
      z-index: -1;
    }

    @media (min-width: 991px) {
      max-height: 212px;
    }
  }

  &_image {
    overflow: hidden;

    @media (min-width: 991px) {
      width: 350px;
    }
  }

  &_link {
    color: var(--black-color);
    display: block;

    font-size: 1.875rem;
    font-weight: 600;
    padding-top: 10px;
    padding-right: 10px;

    @media (min-width: 991px) {
      padding: 0;
    }

    &:hover {
      & h3 span {
        background-image: linear-gradient(120deg, var(--secondary-color) 0%, var(--secondary-color) 100%);
        background-repeat: no-repeat;
        background-size: 100% .1875rem;
        background-position: 0 100%;
      }
    }
  }

  &_copy {
    background-color: white;
    padding: 10px 20px;

    @media (min-width: 991px) {
      position: absolute;
      max-width: 350px;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &_subTitle {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2;
    margin: 0;

    @media (min-width: 991px) {
      font-size: 1.875rem;
    }
  }

  &_type {
    font-size: .75rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 8px;
    margin-right: 8px;
    text-transform: uppercase;
    color: #2c5270;
    display: block;
  }
}
