.bp-tileStacker {
  flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;

  @media (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &_item {
    position: relative;
  }

  &_link {
    display: block;

    &:hover {
      h3>span {
        background-image: linear-gradient(120deg, #b8f0c0 0%, #b8f0c0 100%);
      }

      .icon:before {
        transform: scaleX(1);
      }

      picture img {
        transform: scale(1.2);
      }
    }
  }

  &_image {
    position: relative;

    picture img {
      transition: all 1.2s ease 0s !important;
    }
  }

  &_headline {
    font-size: .875rem;
    font-weight: 600;
    color: black;
    margin: 0;
    padding: 16px;
    background-color: white;

    @media (min-width: 768px) {
      font-size: 1.125rem;
    }

    span {
      transition: all .15s;
      background-image: linear-gradient(120deg, rgba(184, 240, 192, 0) 0%, rgba(184, 240, 192, 0) 100%);
      background-repeat: no-repeat;
      background-size: 100% .1875rem;
      background-position: 0 100%;
    }
  }

  &_type {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    font-size: .625rem;
    font-weight: 600;
    line-height: 1.1;
    color: #2c5270;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: 1px;

    @media (min-width: 768px) {
      font-size: .75rem;
      padding: 6px;
    }
  }

  .icon-play {
    width: 2.5rem;
    height: 2.5rem;
    bottom: .5rem;
    left: .5rem;
    background-color: var(--primary-color);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1.2s ease 0s !important;
    transform: perspective(1px) translateZ(0);

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: black;
      transform: scaleX(0);
      transform-origin: 0 50%;
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
      fill: white;

      @media (min-width: 768px) {
        width: 2rem;
        height: 2rem;
      }
    }

    @media (min-width: 768px) {
      width: 3.25rem;
      height: 3.25rem;
      bottom: .6875rem;
      left: .6875rem;
    }
  }

  &_header {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;

    @media (min-width: 768px) {
      margin-bottom: 16px;
      flex-direction: row;
      align-items: center;
    }
  }
}
