.bp-related {
  @media (min-width: 768px) {
    max-width: 400px;
  }

  &_item {
    margin-bottom: 16px;
    text-align: left;
    position: relative;
    flex: 0 0 75%;
    margin-right: 10;

    @media (min-width: 768px) {
      display: static;
      margin-right: 0;
    }
  }

  &_link {
    font-size: 1rem;
    color: black;
    margin: 0;
    display: block;

    &:hover h3 {
      & span {
        background-image: linear-gradient(120deg, var(--secondary-color) 0%, var(--secondary-color) 100%);
        background-repeat: no-repeat;
        background-size: 100% .1875rem;
        background-position: 0 100%;
      }
    }
  }

  &_content {
    display: flex;
    align-items: stretch;
  }

  &_image {
    margin-right: 14px;

    &.normal {
      width: 80px;
    }

    &.medium {
      width: 50%;
      max-width: 175px;
    }
  }

  &_copy {
    width: 100%;
    flex: 1;
  }

  &_type {
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    text-transform: uppercase;
    color: #2c5270;
    font-size: .625rem;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 1px;

    @media (min-width: 768px) {
      font-size: .75rem;
    }
  }

  &_title {
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.1;
    margin: 0;

    @media (min-width: 768px) {
      font-size: 1.125rem;
      line-height: 1.3;
      margin-top: 8px;
    }
  }

  .is-first {
    margin-bottom: 24px;

    figure {
      margin-right: 0;
    }

    a>div {
      flex-direction: column;
    }

    .teaserTitle {
      font-weight: 600;
      margin-top: 5px;

      @media (min-width: 768px) {
        font-size: 1.125rem;
      }
    }

    .thumbnail {
      margin-right: 0
    }

    div>span {
      position: absolute;
      top: 0;
      background-color: white;
      color: #2c5270;
      font-size: .75rem;
      font-weight: 600;
      letter-spacing: 1px;
      margin-top: 0;

      padding-top: 3px;
      padding-bottom: 3px;
      padding-left: 6px;
      padding-right: 6px;

      @media (min-width: 768px) {
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }
  }

  .is-last {
    margin-top: 32px;

    @media (min-width: 768px) {
      margin-top: 48px;
    }

    .teaserTitle {
      font-weight: 600;

      @media (min-width: 991px) {
        font-size: 1.125rem;
      }
    }
  }

  .scrollArea {
    overflow: scroll;
    display: flex;
    flex-wrap: nowrap;

    @media (min-width: 768px) {
      display: block;
    }
  }

  .sectionTitle {
    font-size: 1.375rem;
    line-height: 1.1;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 8px;
    position: relative;

    @media (min-width: 768px) {
      font-size: 1.875rem;
      padding-top: 5px;
    }

    &::before {
      content: "";
      background: #b8f0c0;
      position: absolute;
      left: 0;
      top: 0;
      width: 100vw;
      height: 20px;
      z-index: -1;
    }
  }

  figure {
    width: 100%;
  }
}
