.bp-slider_tile {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  margin-left: 16px;

  @media (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;

    @media (min-width: 768px) {
      margin-bottom: 16px;
      flex-direction: row;
      align-items: center;
    }
  }

  &-title {
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 0;
    margin: 0;
    margin-bottom: 8px;

    @media (min-width: 768px) {
      font-size: 2.25rem;
    }
  }

  &-link {
    color: black;
    font-size: .875rem;
    font-weight: 700;

    align-self: flex-start;
    background-image: linear-gradient(120deg, var(--primary-color, #ff5c85) 0%, var(--primary-color, #ff5c85) 100%);
    background-repeat: no-repeat;
    background-size: 100% .1875rem;
    background-position: 0 100%;

    @media (min-width: 768px) {
      font-size: 1.125rem;
      margin-left: 24px;
      margin-bottom: 8px;
      align-self: center;
    }

    &:hover,
    &:focus {
      background-image: linear-gradient(120deg, black 0%, black 100%);
    }
  }
}
