.bp-signup {
  &_hero {
    background-color: #b8f0c0;
  }

  &_content {
    margin: auto;
    max-width: 700px;
    position: relative;
  }

  &_header {
    max-width: 660px;
    background-color: white;
    padding: 24px;
    margin-top: -24px;
    position: relative;
  }

  &_title {
    margin: 0;
    line-height: 1.1;
    margin-bottom: 12px;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;

    @media (min-width: 768px) {
      font-size: 3rem;
    }
  }

  &_desc {
    font-size: .875rem;
    font-weight: 400;
    text-align: center;

    @media (min-width: 768px) {
      font-size: 1.125rem;
    }
  }

  &_thanks {
    text-align: center;
    position: absolute;
    left: 20px;
    right: 20px;
    max-width: 660px;
    background-color: white;
    padding: 16px;
    bottom: 100%;

    & h2 {
      font-size: 2rem;
      font-weight: 400;
      text-align: center;
      margin: 0;

      @media (min-width: 768px) {
        font-size: 3rem;
      }
    }

    & svg {
      animation: jiggle ease-in-out 400ms infinite;
    }
  }

  &_cta {
    font-size: 1.125rem;
    font-weight: 700;
    width: 160px;
    height: 50px;
    cursor: pointer;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: black;
    position: relative;
    transition: all .3s ease-out;
    margin-top: 24px;

    &:hover {
      border-color: black;
      background-color: black;
      color: white;
    }
  }

  a {
    color: black;
    background-image: linear-gradient(120deg, #b8f0c0 0%, #b8f0c0 100%);
    background-repeat: no-repeat;
    background-size: 100% .1875rem;
    background-position: 0 100%;

    display: inline-block;
    transition: all .3s ease-out;

    &:hover {
      background-image: linear-gradient(120deg, var(--primary-color) 0%, var(--primary-color) 100%);
    }
  }
}

@keyframes jiggle {
  0% {
    transform: none;
  }

  25% {
    transform: rotateZ(5deg);
  }

  75% {
    transform: rotateZ(-5deg);
  }

  100% {
    transform: none;
  }
}
