.bp-newsletter {
  position: relative;
  padding-bottom: 32px;
  padding-top: 32px;
  text-align: center;

  &_content {
    position: relative;
    z-index: 1;
    max-width: 760px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  &_title {
    font-size: 1.125rem;
    line-height: 1.3;
    margin: 0;

    @media (min-width: 768px) {
      font-size: 1.875rem;
      margin-bottom: 30px;
    }

    p {
      margin: 0;
    }
  }

  &_link {
    font-size: 1.125rem;
    font-weight: 700;
    width: 160px;
    height: 50px;
    cursor: pointer;
    background-color: var(--primary-color, #ff5c85);
    color: black;
    position: relative;
    transform: perspective(1px) translateZ(0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: black;
      transform: scaleX(0);
      transform-origin: 0 50%;
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }

    &:hover {
      color: white;

      &::before {
        transform: scaleX(1);
      }
    }
  }
}
