.bp-video {
  &_title {
    margin: 0;
  }

  &_image {
    margin-top: 10px;
    position: relative;

    iframe {
      height: 263px;

      @media (min-width: 768px) {
        height: 399px;
      }
    }
  }

  &_icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    border: 0;
    cursor: pointer;
    background-color: transparent;

    svg {
      transition: all .5s;
      fill: white;
      width: 60px;
      height: 60px;
      cursor: pointer;
    }

    &:hover {
      svg {
        fill: var(--primary-color);
        transform: scale(1.2);
      }
    }
  }
}
