.bp-tags {
  margin-top: 30px;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    margin-bottom: 30px;
  }

  &_title {
    font-size: 1.375rem;
    line-height: 1.1;
    font-weight: 600;
    position: relative;
    margin: 0;
    margin-bottom: 16px;
    padding-top: 8px;

    &::before {
      content: "";
      background: #b8f0c0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100vw;
      height: 20px;
      z-index: -1;
    }

    @media (min-width: 768px) {
      font-size: 2.5rem;
      padding-top: 5px;
      margin-bottom: 30px;
    }
  }

  &_items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  &_item {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  &_link {
    color: black;
    display: inline-block;
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.1;
    background-image: linear-gradient(120deg, #b8f0c0 0%, #b8f0c0 100%);
    background-repeat: no-repeat;
    background-size: 100% .1875rem;
    background-position: 0 100%;

    @media (min-width: 768px) {
      font-size: 1.125rem;
    }
  }
}
