.bp-imageBlock {
  background-color: #fed760;
  padding-top: 0;

  &_link {
    display: block;

    &:hover {
      h2 span {
        background-image: linear-gradient(120deg, #b8f0c0 0%, #b8f0c0 100%);
        background-repeat: no-repeat;
        background-size: 100% .1875rem;
        background-position: 0 100%;
      }

      img {
        transform: scale(1.1);
      }
    }
  }

  &_title {
    color: black;
    margin-top: 10px;
    margin-bottom: 5px;
    line-height: 1.2;

    span {
      transition: .15s;
      display: inline;
      background-image: linear-gradient(120deg, rgba(184, 240, 192, 0) 0%, rgba(184, 240, 192, 0) 100%);
      background-repeat: no-repeat;
      background-size: 100% .1875rem;
      background-position: 0 100%;
    }

    @media (min-width: 768px) {
      margin-bottom: 20px;
    }
  }

  &_content {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    min-height: 356px;
  }

  &_image {
    margin-left: -16px;
    margin-right: -16px;
    overflow: hidden;
    flex: 1;

    img {
      transition: all 500ms ease 0s !important;
    }

    @media (min-width: 768px) {
      order: 2;
    }
  }

  &_copy {
    padding: 18px;
    background: white;
    color: black;
    order: 2;
    top: -18px;
    position: relative;


    @media (min-width: 768px) {
      order: 1;
      align-self: center;
      padding: 24px;
      right: -20px;
      top: 0;
      max-width: 500px;
    }

    p {
      margin: 0;
      font-size: .875rem;

      @media (min-width: 768px) {
        font-size: 1.125rem;
      }
    }
  }

  &.typeb {
    .imageWrapper {
      @media (min-width: 768px) {
        order: 1;
      }
    }

    .copyText {
      right: 10px;
    }
  }
}
